node_modules/
backend/node_modules/
frontend/admin/node_modules/
frontend/user/node_modules/

frontend/admin/dist/
frontend/user/dist/

runtime-logs/
.DS_Store
*.log
npm-debug.log*
yarn-error.log*
backend/uploads/
.vscode/
